# ==================================================
# QUANTRAVISION™ — .gitignore
# ==================================================

# Build / Gradle
.gradle/
build/
**/build/
local.properties

# Android Studio
.idea/
*.iml
*.apk
*.aab

# Signing & credentials
signing.properties
*.keystore
*.jks
pubkey.pem
private_key.pem

# Logs
*.log
crash_logs/
dist/
src_hash.txt
res_hash.txt
manifest.json
signature.txt
